.content {
    margin: 0px;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    padding-top: 60px;
    flex-direction: column;
    align-items: center;
    background-color: #ecdccc;
    height: 100vh;
    width: 100%;
}

.toolbar {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #33394d;
    color: white;
    font-weight: 800;
    font-size: 40px;
}

  