.card-title {
    padding-top: 20px;
    background-color: #bdbdc4;
    padding-bottom: 20px;
    width: 60%;
}

.table-display {
    background-color: white;
    width: 60%;
    float: left;
}

.card {
    border-bottom: 1px;
}

.layout{
    display: flexbox;
}

.time-display {
    display: flex;
    justify-content: center;
    align-items: center;
}

.wait-display {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    padding-top: 40px;
}

.link {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    padding-top: 50px;
}